@page "/ventas"

@inject IRepository repository
@inject IToastService toastService
@inject IJSRuntime JS

<div>
    <h3>Ventas</h3>
    <SalesList Sales="Sales" />
    <div class="col-md-3" style="padding-left:0px;">
        <Pagination ActualPage="actualpage" TotalPages="totalpages" SelectedPage="selectedpage" />
    </div>
</div>



@if (isnew && id == 0)
{
<br />
                <SalesForm OnValidSubmit="AddServiceProvider" newSaleDto="newsaledto" option="Create" Clients="Clients" Products="Products" productId="productId" clientId="clientId" cantidad="cantidad"></SalesForm> }

            else
            {
<button class="btn btn-outline-info" @onclick="shownew">Registrar Venta</button>}

@if (id != 0)
{
<br />
                <SalesForm OnValidSubmit="EditServiceProvider" newSale="newSale" option="Edit"></SalesForm>}



@code { private bool isnew;

    private bool isedit;

    int id = 0;
    private SalesDTO newSale = new SalesDTO();
    private List<SalesDTO> Sales;
    public List<ProductDTO> Products { get; set; }
    public List<ClientDTO> Clients { get; set; }
    string clientId { get; set; }
    string productId { get; set; }
    int cantidad { get; set; }

    private List<ProductDTO> Prods;
    private List<ClientDTO> Clis;
    private newSaleDTO newsaledto = new newSaleDTO();

    protected async override Task OnInitializedAsync()
    {
        newSale.Client = new ClientDTO();

        var responsehttp = await repository.Get<List<ProductDTO>>("api/Productos");
        Products = responsehttp.Response;
        Prods = Products;
        var responsehttp2 = await repository.Get<List<ClientDTO>>("api/Clientes");
        Clients = responsehttp2.Response;
        Clis = Clients;
        await LoadData(1);
        isnew = false;
        isedit = false;
    }

    private async Task LoadData(int page)
    {

        var responsehttp = await repository.Get<List<SalesDTO>>($"api/Ventas?page={page}");
        if (!responsehttp.Error)
        {
            Sales = responsehttp.Response;
            var count = responsehttp.HttpResponseMessage.Headers.GetValues("countrecords").FirstOrDefault();
            totalpages = int.Parse(responsehttp.HttpResponseMessage.Headers.GetValues("totalpages").FirstOrDefault());
        }
    }

    private int actualpage = 1;

    private int totalpages;

    private async Task selectedpage(int page)
    {
        actualpage = page;
        await LoadData(actualpage);

    }

    void shownew()
    {
        newSale = new SalesDTO();
        newsaledto = new newSaleDTO();
        isnew = true;
        isedit = false;
        id = 0;

    }


    void showedit(ClientDTO client)
    {
        id = client.Id;
        newSale = Sales.Where(x => x.Id == id).FirstOrDefault();
        Console.WriteLine("el id es:" + id);
    }



    private async Task AddServiceProvider()
    {

        Console.WriteLine(clientId);
        Console.WriteLine(productId);
        isnew = false;
        int idcliente = Convert.ToInt32(newsaledto.ClientId);
        var indexOf = Clis.IndexOf(Clis.Find(p => p.Id == idcliente));
        await JS.InvokeVoidAsync("console.log", $"index:{indexOf}");
        int idproducto = Convert.ToInt32(newsaledto.ProductId);
        var indexOfpro = Prods.IndexOf(Prods.Find(p => p.Id == idproducto));
        await JS.InvokeVoidAsync("console.log", $"index2:{indexOfpro}");
        await JS.InvokeVoidAsync("console.log", $"clientId:{newsaledto.ClientId}");
        await JS.InvokeVoidAsync("console.log", $"productId:{newsaledto.ProductId}");
        await JS.InvokeVoidAsync("console.log", $"cantidad:{newsaledto.cantidad}");

        newSale.Client = Clis[indexOf];
        newSale.Productsquantity = newsaledto.cantidad;
        newSale.Products = new List<ProductDTO>();
        newSale.Products.Add(Products[indexOfpro]);
        newSale.Totalprice = Convert.ToDecimal(newsaledto.cantidad) * Prods[indexOfpro].unitprice;

        var httpResponse = await repository.Post("api/Ventas", newSale);
        if (httpResponse.Error)
        {
            var body = await httpResponse.HttpResponseMessage.Content.ReadAsStringAsync();
            toastService.ShowError(body, "Error!");
        }
        else
        {
            Sales.Add(newSale);

            id = 0;
            newSale = null;

            toastService.ShowSuccess("Se ha registrado la venta correctamente", "Exito!");
            await LoadData(actualpage);
        }



    }

    async Task EditServiceProvider()
    {
        var httpResponse = await repository.Put("api/Ventas", newSale);

        if (httpResponse.Error)
        {
            var body = await httpResponse.HttpResponseMessage.Content.ReadAsStringAsync();
            toastService.ShowError(body, "Error!");
        }
        else
        {

            var indexOf = Sales.IndexOf(Sales.Find(p => p.Id == newSale.Id));
            Sales[indexOf] = newSale;
            id = 0;
            newSale = null;

            toastService.ShowSuccess("Se ha editado el cliente correctamente", "Exito!");
        }



    } }
